/*Header styles*/
a {
    text-decoration: none;
    color: #727272;
}

.nav-item:hover {
    color: black; /* Color del texto al pasar el ratón por encima */
}

header {
    padding: 0;
    margin: 0;
}

nav {
    background-color: aqua;
}

ul {
    list-style: none;
    display: flex;
}

li {
    padding-left: 10px;
}

li:first-child {
    padding-left: 0;
}

img {
    width: 100%;
}

/*Section styles*/

/*Section 1*/
.index-section-image {
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: auto;
}

.text {
    position: absolute;
    bottom: 35%;
    right: 0%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

/*Section 2*/
.sect-2 {
    margin: 10px auto 10px auto;
}

h5 {
    text-align: center;
}

.highlighted-text {
    display: inline-flex;
    background-color: #00a7d1;
    color: #fff;
    height: 50px;
}

/*Footer styles*/
footer {
    background-color: #3c4146;
    color: #ffffff;
}

.footer-box {
    padding: 20px;
}

.footer-list {
    list-style: none;
    display: block;
}

.footer-item {
    padding: 0;
    margin-bottom: 10px;
}

h4 {
    background-color: #28a745;
    padding: 5px;
}

.footer-slogan {
    width: 25%;
}