
/*Section styles*/

/*Section 1*/
.index-section-image {
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: auto;
}

/*Section 2*/
.sect-2 {
    margin: 10px auto 10px auto;
}

h5 {
    text-align: center;
}

.highlighted-text {
    display: inline-flex;
    background-color: #00a7d1;
    color: #fff;
    height: 50px;
}


header {
    padding: 0;
    margin: 0;
}

nav {
    background-color: aqua;
}

ul {
    list-style: none;
    display: flex;
}

li {
    padding-left: 10px;
}

li:first-child {
    padding-left: 0;
}

img {
    width: 100%;
}


/*Footer styles*/
footer {
    background-color: #3c4146;
    color: #ffffff;
}

.footer-box {
    padding: 20px;
}

.footer-list {
    list-style: none;
    display: block;
}

.footer-item {
    padding: 0;
    margin-bottom: 10px;
}

h4 {
    background-color: #28a745;
    padding: 5px;
}

.footer-slogan {
    width: 25%;
}